@import "tailwindcss";

body {
  background-color: #f1f5f9;
  color: #1e293b;
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", Arial, sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
